$bg-color: rgb(249, 249, 255);
$opacity: 0.9;
$a-color: rgb(36, 34, 34);
$button-bg: linear-gradient(to right, rgb(135, 107, 141), rgb(159, 152, 176));
$button-hover-bg: linear-gradient(
  to left,
  rgb(135, 107, 141),
  rgb(159, 152, 176)
);
$font-size: 1.6rem;
$praimary-color: crimson;
$para-color: #777;
$para-tint: #f3f4ff;
